<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TipoRefeicaoServlet</servlet-name>
        <servlet-class>servlet.ServletTipoRefeicao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TipoRefeicaoServlet</servlet-name>
        <url-pattern>/tiporefeicao/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RefeicaoServlet</servlet-name>
        <servlet-class>servlet.ServletRefeicao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RefeicaoServlet</servlet-name>
        <url-pattern>/refeicao/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AlunoServlet</servlet-name>
        <servlet-class>servlet.ServletAluno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlunoServlet</servlet-name>
        <url-pattern>/aluno/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CardapioServlet</servlet-name>
        <servlet-class>servlet.ServletCardapio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CardapioServlet</servlet-name>
        <url-pattern>/cardapio/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
